<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techart.wb">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.techart.wb.WritersBlock"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.techart.wb.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.techart.wb.sqliteutils.WritersBlockProvider"
            android:authorities="com.techart.wb.wbprovider" />

        <activity
            android:name="com.techart.wb.CommentActivity"
            android:parentActivityName="com.techart.wb.MainActivity" />

        <activity
            android:name="com.techart.wb.NotificationsActivity"
            android:label="@string/action_notifications"
            android:parentActivityName="com.techart.wb.MainActivity">
            <intent-filter>
                <action android:name="com.techart.wb.NotificationsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.techart.wb.ChapterCommentsActivity"
            android:parentActivityName="com.techart.wb.ActivityRead" />

        <activity
            android:name="com.techart.wb.ChaptersReplyActivity"
            android:parentActivityName="com.techart.wb.ChapterCommentsActivity" />

        <activity
            android:name="com.techart.wb.ReplyActivity"
            android:parentActivityName="com.techart.wb.CommentActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.techart.wb.MainActivity" />

        <activity
            android:name="com.techart.wb.ViewsActivity"
            android:excludeFromRecents="true"
            android:parentActivityName="com.techart.wb.MainActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.techart.wb.MainActivity" />

        <activity
            android:name="com.techart.wb.devotion.DevotionEditorActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name="com.techart.wb.setup.RegisterActivity"
            android:autoRemoveFromRecents="true"
            android:noHistory="true"
            android:theme="@style/FullScreen" />

        <activity
            android:name="com.techart.wb.setup.LoginActivity"
            android:noHistory="true"
            android:theme="@style/FullScreen" />

        <activity
            android:name="com.techart.wb.FullImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.techart.wb.ImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.techart.wb.stories.StoryDialogActivity"
            android:noHistory="true"
            android:theme="@style/dialogTheme" />
        <activity
            android:name="com.techart.wb.stories.StoryTitleEditDialog"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/dialogTheme" />

        <activity
            android:name="com.techart.wb.BiographyActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/dialogTheme" />

        <activity
            android:name="com.techart.wb.AboutActivity"
            android:label="@string/about"
            android:launchMode="singleTop"
            android:parentActivityName="com.techart.wb.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.techart.wb.utils.NumberRequestDialog"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/dialogTheme" />

        <activity
            android:name="com.techart.wb.setup.PasswordResetDialog"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/dialogTheme" />

        <activity
            android:name="com.techart.wb.stories.StoryDescriptionEditDialog"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/dialogTheme" />

        <activity
            android:name="com.techart.wb.FacebookActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/dialogTheme" />

        <activity
            android:name="com.techart.wb.OnStoryNotificationActivity"
            android:parentActivityName="com.techart.wb.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="Story_Notice" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.techart.wb.ReadersActivity"
            android:parentActivityName="com.techart.wb.MainActivity">
            <intent-filter>
                <action android:name="com.techart.wb.ReadersActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.techart.wb.WritersActivity"
            android:parentActivityName="com.techart.wb.MainActivity">
            <intent-filter>
                <action android:name="com.techart.wb.WritersActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.techart.wb.HelpActivity"
            android:parentActivityName="com.techart.wb.MainActivity">
            <intent-filter>
                <action android:name="com.techart.wb.HelpActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.techart.wb.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop" />

        <activity
            android:name="com.techart.wb.LikesActivity"
            android:excludeFromRecents="true"
            android:parentActivityName="com.techart.wb.MainActivity" />

        <activity
            android:name="com.techart.wb.poems.MyPoemsListActivity"
            android:parentActivityName="com.techart.wb.ProfileActivity" />

        <activity
            android:name="com.techart.wb.stories.StoryPrologueActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:parentActivityName="com.techart.wb.ProfileActivity" />
        <activity
            android:name="com.techart.wb.chapters.ChapterEditorActivity"
            android:excludeFromRecents="true"
            android:parentActivityName="com.techart.wb.ProfileActivity" />
        <activity
            android:name="com.techart.wb.chapters.ChapterEditorOnlineActivity"
            android:excludeFromRecents="true"
            android:parentActivityName="com.techart.wb.stories.ProfileStoriesListActivity" />
        <activity
            android:name="com.techart.wb.devotion.DevotionEditorOnlineActivity"
            android:excludeFromRecents="true"
            android:parentActivityName="com.techart.wb.stories.ProfileStoriesListActivity" />
        <activity
            android:name="com.techart.wb.poems.PoemEditorOnlineActivity"
            android:excludeFromRecents="true"
            android:parentActivityName="com.techart.wb.stories.ProfileStoriesListActivity" />
        <activity
            android:name="com.techart.wb.chapters.OnlineChapterListActivity"
            android:excludeFromRecents="true"
            android:parentActivityName="com.techart.wb.stories.ProfileStoriesListActivity" />

        <activity
            android:name="com.techart.wb.AuthorsProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.techart.wb.MainActivity" />
        <activity
            android:name="com.techart.wb.chapters.AddChapterActivity"
            android:parentActivityName="com.techart.wb.chapters.MyChaptersListActivity" />
        <activity
            android:name="com.techart.wb.chapters.AddChapterOnlineActivity"
            android:parentActivityName="com.techart.wb.stories.ProfileStoriesListActivity" />

        <activity
            android:name="com.techart.wb.chapters.MyChaptersListActivity"
            android:parentActivityName="com.techart.wb.ProfileActivity">
        </activity>

        <activity
            android:name="com.techart.wb.stories.MyStoriesListActivity"
            android:parentActivityName="com.techart.wb.ProfileActivity">
        </activity>

        <activity
            android:name="com.techart.wb.poems.AuthorsPoemsListActivity"
            android:parentActivityName="com.techart.wb.AuthorsProfileActivity">
        </activity>

        <activity
            android:name="com.techart.wb.devotion.AuthorsDevotionsListActivity"
            android:parentActivityName="com.techart.wb.AuthorsProfileActivity">
        </activity>

        <activity
            android:name="com.techart.wb.stories.AuthorsStoriesListActivity"
            android:parentActivityName="com.techart.wb.AuthorsProfileActivity">
        </activity>

        <activity
            android:name="com.techart.wb.poems.ProfilePoemsListActivity"
            android:parentActivityName="com.techart.wb.AuthorsProfileActivity">
        </activity>

        <activity
            android:name="com.techart.wb.devotion.ProfileDevotionsListActivity"
            android:parentActivityName="com.techart.wb.AuthorsProfileActivity">
        </activity>

        <activity
            android:name="com.techart.wb.stories.ProfileStoriesListActivity"
            android:parentActivityName="com.techart.wb.AuthorsProfileActivity">
        </activity>

        <activity
            android:name="com.techart.wb.stories.StoryEditorActivity"
            android:excludeFromRecents="true"
            android:parentActivityName="com.techart.wb.ProfileActivity" />


        <activity
            android:name="com.techart.wb.ActivityRead"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.techart.wb.MainActivity" />

        <activity
            android:name="com.techart.wb.WritersChatRoomActivity"
            android:parentActivityName="com.techart.wb.LibraryActivity" />

        <activity
            android:name="com.techart.wb.GeneralChatRoomActivity"
            android:parentActivityName="com.techart.wb.MainActivity" />

        <activity
            android:name="com.techart.wb.LibraryActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.techart.wb.ProfileActivity">
        </activity>

        <activity
            android:name="com.techart.wb.devotion.MySpiritualsListActivity"
            android:parentActivityName="com.techart.wb.ProfileActivity">
        </activity>

        <activity
            android:name="com.techart.wb.poems.PoemEditorActivity"
            android:excludeFromRecents="true"
            android:parentActivityName="com.techart.wb.ProfileActivity">
        </activity>

        <activity
            android:name="com.techart.wb.ScrollingActivity"
            android:parentActivityName="com.techart.wb.MainActivity">
        </activity>


        <activity
            android:name="com.techart.wb.SearchActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="SearchActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".chapters.DeleteOnlineChapterActivity"
            android:parentActivityName="com.techart.wb.stories.ProfileStoriesListActivity"></activity>


        <!-- [START firebase_service] -->
        <service
            android:name="com.techart.wb.service.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>