<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techart.writersblock">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".WritersBlock"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".sqliteutils.WritersBlockProvider"
            android:authorities="com.techart.writersblock.writersblockprovider" />

        <activity
            android:name=".CommentActivity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ReplyActivity"
            android:parentActivityName=".CommentActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.techart.writersblock.MainActivity" />

        <activity
            android:name=".ViewsActivity"
            android:excludeFromRecents="true"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.techart.writersblock.MainActivity" />

        <activity
            android:name=".devotion.DevotionEditorActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".setup.RegisterActivity"
            android:autoRemoveFromRecents="true"
            android:noHistory="true"
            android:theme="@style/FullScreen" />

        <activity
            android:name=".setup.LoginActivity"
            android:autoRemoveFromRecents="true"
            android:noHistory="true"
            android:theme="@style/FullScreen" />

        <activity
            android:name=".PostTypeDialog"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/dialogTheme" />
        <activity
            android:name=".stories.StoryDialogActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/dialogTheme" />
        <activity
            android:name=".stories.StoryTitleEditDialog"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/dialogTheme" />
        <activity
            android:name=".EditNameDialog"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/dialogTheme" />

        <activity
            android:name=".setup.PasswordResetDialog"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/dialogTheme" />

        <activity
            android:name=".stories.StoryDescriptionEditDialog"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/dialogTheme" />
        <activity
            android:name=".HelpActivity"
            android:parentActivityName=".InformationActivity">
            <intent-filter>
                <action android:name="com.techart.writersblock.HelpActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop" />
        <activity
            android:name=".ActivityReadStory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LikesActivity"
            android:excludeFromRecents="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".poems.MyPoemsListActivity"
            android:parentActivityName=".ProfileActivity"
            />
        <activity
            android:name=".stories.StoryPrologueActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:parentActivityName=".ProfileActivity"/>
        <activity
            android:name=".chapters.ChapterEditorActivity"
            android:excludeFromRecents="true"
            android:parentActivityName=".ProfileActivity"/>
        <activity
            android:name=".chapters.ChapterEditorOnlineActivity"
            android:excludeFromRecents="true"
            android:parentActivityName=".stories.ProfileStoriesListActivity"/>
        <activity
            android:name=".devotion.DevotionEditorOnlineActivity"
            android:excludeFromRecents="true"
            android:parentActivityName=".stories.ProfileStoriesListActivity"/>
        <activity
            android:name=".poems.PoemEditorOnlineActivity"
            android:excludeFromRecents="true"
            android:parentActivityName=".stories.ProfileStoriesListActivity"/>
        <activity
            android:name=".chapters.OnlineChapterListActivity"
            android:excludeFromRecents="true"
            android:parentActivityName=".stories.ProfileStoriesListActivity"/>

        <activity
            android:name=".AuthorsProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".chapters.AddChapterActivity"
            android:parentActivityName=".chapters.MyChaptersListActivity"/>
        <activity
            android:name=".chapters.AddChapterOnlineActivity"
            android:parentActivityName=".stories.ProfileStoriesListActivity"/>

        <activity
            android:name=".chapters.MyChaptersListActivity"
            android:parentActivityName=".ProfileActivity">
        </activity>

        <activity
            android:name=".stories.MyStoriesListActivity"
            android:parentActivityName=".ProfileActivity">
        </activity>

        <activity
            android:name=".poems.AuthorsPoemsListActivity"
            android:parentActivityName=".AuthorsProfileActivity">
        </activity>

        <activity
            android:name=".devotion.AuthorsDevotionsListActivity"
            android:parentActivityName=".AuthorsProfileActivity">
        </activity>

        <activity
            android:name=".stories.AuthorsStoriesListActivity"
            android:parentActivityName=".AuthorsProfileActivity">
        </activity>

        <activity
            android:name=".poems.ProfilePoemsListActivity"
            android:parentActivityName=".AuthorsProfileActivity">
        </activity>

        <activity
            android:name=".devotion.ProfileDevotionsListActivity"
            android:parentActivityName=".AuthorsProfileActivity">
        </activity>

        <activity
            android:name=".stories.ProfileStoriesListActivity"
            android:parentActivityName=".AuthorsProfileActivity">
        </activity>

        <activity
            android:name=".stories.StoryEditorActivity"
            android:excludeFromRecents="true"
            android:parentActivityName=".ProfileActivity">
        </activity>

        <activity
            android:name=".LibraryActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ProfileActivity">
        </activity>

        <activity
            android:name=".devotion.MySpiritualsListActivity"
            android:parentActivityName=".ProfileActivity">
        </activity>

        <activity
            android:name=".InformationActivity"
            android:label="@string/about"
            android:parentActivityName=".ProfileActivity">
        </activity>

        <activity
            android:name=".poems.PoemEditorActivity"
            android:excludeFromRecents="true"
            android:parentActivityName=".ProfileActivity">
        </activity>

        <activity
            android:name=".ScrollingActivity"
            android:parentActivityName=".MainActivity">
        </activity>


        <activity
            android:name=".SearchActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="com.techart.ats.SearchActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- [START firebase_service] -->
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>